/*Color*/
.header div{
    background-color: #F44336;
}

.container--1 div {
    background-color: #2196F3;
}

.container--2 div {
    background-color: #03A9F4;
}

.container--3 div {
    background-color: #00BCD4;
}

.container--4 div {
    background-color: #009688;
}

.container--5 div {
    background-color: #4CAF50;
}

.container--6 div {
    background-color: #8BC34A;
}

.footer div {
    background-color: #FFEB3B;
}