/*General*/
*, *:before, *:after {
    box-sizing: border-box;
}

.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.wrapper {
    max-width: 960px;
    margin: auto;
}

.header, .container, .footer {
    padding: 0 8px;
}

.header div, .container div, .footer div {
    border-radius: 10px;
    padding: 8px;
}

.header div, .footer div {
    height: 100px;
}

.container div {
    height: 200px;
}

.container {
    float: left;
    margin-top: 16px;
}

.footer {
    clear: both;
    margin-top: 16px;
}