.wrapper {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto; }
  .wrapper:after {
    content: " ";
    display: block;
    clear: both; }

.column {
  width: 13.33333%;
  float: left;
  margin-left: 1.66667%;
  margin-right: 1.66667%;
  background-color: #ECE9E2;
  height: 900px; }

@media (min-width: 768px) {
  .column {
    width: 6.66667%;
    float: left;
    margin-left: 0.83333%;
    margin-right: 0.83333%; } }
