@import "susy";

$susy: (
        columns: 6,
        gutters: 1/4,
        gutter-position: split,
        container: 960px,
);

.wrapper {
  @include container();
}

.column {
  @include span(1);
  background-color: #ECE9E2;
  height: 900px;
}

.wrapper {
  @include susy-breakpoint(768px, 12, '.no-mq') {
    .column {
      @include span(1);
    }
  }
}
