@import "susy";

$susy: (
        columns: 6,
        gutters: 0,
        gutter-position: inside,
        container: 960px,
);

.wrapper {
  @include container();
}

.containerWrapper, .header, .container, .footer {
  width: 100%;
}

@include susy-breakpoint(560px) {
  .header {
    @include span(6);
  }

  .container {
    @include span(3);
  }

  .footer {
    @include span(6);
  }
}

@include susy-breakpoint(768px) {
 .container {
    @include span(2);
  }
}
